.accordion {
width: 800px;
border: 2px solid black;
margin-left: auto ;
margin-right: auto ;
margin-bottom: 20px;

}

h1 {
        font-family: "Andale Mono", AndaleMono, monospace;
        font-size: 36px;
        color: black;
        text-align: center;
    }


h2 {

	font-family: "Andale Mono", AndaleMono, monospace;
        font-size: 12px;
        color: black;
        text-align: center;
}

 















