.accordion {
width: 800px;
border: 2px solid black;
margin-left: auto ;
margin-right: auto ;

}

h1 {
        font-family: "Andale Mono", AndaleMono, monospace;
        font-size: 36px;
        color: black;
        text-align: center;
    }




 















